@media screen and (max-width:960px) {
    .nav {
        padding: 1% 5%;
    }

    .content {
        width: 90%;
    }

    .comments {
        width: 90%;
    }

    .content,
    .comments {
        padding: 1% 5%;
    }
}

@media screen and (min-width:961px) and (max-width:1280px) {
    .nav ul li {
        display: inline-block;
    }

    .content {
        width: 60%;
    }

    .comments {
        width: 60%;
    }
}

@media screen and (min-width:1281px) {
    .content {
        width: 60%;
    }

    .comments {
        width: 20%;
    }

    .nav {
        position: absolute;
        top: 20px;
        left: 0px;
        width: 144px;
    }
}